[submodule "foundry-simple-storage-f23/lib/forge-std"]
	path = foundry-simple-storage-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-simple-storage-f23/foundry-zksync"]
	path = foundry-simple-storage-f23/foundry-zksync
	url = https://github.com/matter-labs/foundry-zksync
